
{% extends "layout.html" %}

{% block pageTitle %}
  Payment analysis tool
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Internal systems</h1>
      <h2>  <span class="govuk-heading-l">Payment analysis tool</span>
      </h2>


      <h3 class="govuk-heading-m">Shortcuts</h3>

      <p>
        <ul class="govuk-list govuk-list--bullet">
        <li><a href="ver-1/sign-in">Sign in</a></li>
        <li><a href="ver-1/search">Search</a></li>
        <li><a href="ver-1/search-results">Search results</a></li>
        <li><a href="ver-1/search-no-results">No results found</a></li>
      </ul>
    </p>

    <h2>  <span class="govuk-heading-l">Certificate ordering service</span>
    </h2>

    <h3 class="govuk-heading-m">Shortcuts</h3>

    <p>
      <ul class="govuk-list govuk-list--bullet">
      <li><a href="get-certs/sign-in">Sign in</a></li>
      <li><a href="get-certs/search">Search</a></li>
      <li><a href="get-certs/search-results-ver1">Search results version 1</a></li>
      <li><a href="get-certs/search-results-ver2">Search results version 2</a></li>
      <li><a href="get-certs/search-no-results">No results found</a></li>
    </ul>
    </p>

      <h3 class="govuk-heading-m">Examples and documentation</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/docs/tutorials-and-examples">Example pages and documentation</a>
        </li>
        <li>
          <a href="https://design-system.service.gov.uk">GOV.UK Design System</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
